In [1]:
import pandas as pd
import numpy as np
from nsepy import get_history
from nsetools import Nse
from datetime import date
import csv
import requests
import xlsxwriter
import math
from scipy import stats
from pprint import pprint
import pendulum


my_columns = [ 'ticker', 'record_date', 'close_price', 'day_high', 'percent_change', 'previous_close','high_52', 'low_52', 'delivery_percent','free_float', 'chg_frm_52w_low_per', 'chg_frm_52w_high', 'open', 'volumne' , 'low']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe
## to avoid caching, use below code if you think that any new symbol is added in the index
# all_stock_codes = nse.get_stock_codes(cached=False)

#to get any stock quote, use below code
#q = nse.get_quote('infy')

#printing on the console
#pprint(q['cm_ffm'])

#data = get_history(symbol="LTI", start=date(2021,1,1),end=date(2021,4,2))
#data['Close'].plot()

Empty DataFrame
Columns: [ticker, record_date, close_price, day_high, percent_change, previous_close, high_52, low_52, delivery_percent, free_float, chg_frm_52w_low_per, chg_frm_52w_high, open, volumne, low]
Index: []

In [16]:
nse = Nse()
all_stock_codes = nse.get_stock_codes()
for key in all_stock_codes:
    #print(key)
    if key == '21STCENMGM':
      q = nse.get_quote(key)  
      pprint(q)

{'adhocMargin': None,
 'applicableMargin': 16.29,
 'averagePrice': 30.25,
 'basePrice': 30.15,
 'bcEndDate': '16-JUL-21',
 'bcStartDate': '10-JUL-21',
 'buyPrice1': None,
 'buyPrice2': None,
 'buyPrice3': None,
 'buyPrice4': None,
 'buyPrice5': None,
 'buyQuantity1': None,
 'buyQuantity2': None,
 'buyQuantity3': None,
 'buyQuantity4': None,
 'buyQuantity5': None,
 'change': 0.1,
 'closePrice': 30.55,
 'cm_adj_high_dt': '22-NOV-21',
 'cm_adj_low_dt': '26-APR-21',
 'cm_ffm': 12.83,
 'companyName': '21st Century Management Services Limited',
 'css_status_desc': 'Listed',
 'dayHigh': 30.75,
 'dayLow': 29.6,
 'deliveryQuantity': 9197.0,
 'deliveryToTradedQuantity': 53.95,
 'exDate': '08-JUL-21',
 'extremeLossMargin': 3.5,
 'faceValue': 10.0,
 'high52': 64.0,
 'indexVar': None,
 'isExDateFlag': False,
 'isinCode': 'INE253B01015',
 'lastPrice': 30.25,
 'low52': 11.7,
 'marketType': 'N',
 'ndEndDate': None,
 'ndStartDate': None,
 'open': 30.15,
 'pChange': 0.33,
 'previousClose': 30.15,
 'priceBand': 2.0,
 'pricebandlower': 29.55,
 'pricebandupper': 30.75,
 'purpose': 'ANNUAL GENERAL MEETING',
 'quantityTraded': 17048.0,
 'recordDate': None,
 'secDate': '12-Apr-2022 00:00:00',
 'securityVar': 12.79,
 'sellPrice1': None,
 'sellPrice2': None,
 'sellPrice3': None,
 'sellPrice4': None,
 'sellPrice5': None,
 'sellQuantity1': None,
 'sellQuantity2': None,
 'sellQuantity3': None,
 'sellQuantity4': None,
 'sellQuantity5': None,
 'series': 'EQ',
 'surv_indicator': None,
 'symbol': '21STCENMGM',
 'totalBuyQuantity': None,
 'totalSellQuantity': None,
 'totalTradedValue': 5.16,
 'totalTradedVolume': 17048.0,
 'varMargin': 12.79}

In [17]:
final_dataframe.append(
    pd.Series(
        [
            q['symbol'],
            'NA',
            q['closePrice'],
            q['dayHigh'],
            q['pChange'],
            q['previousClose'],
            q['high52'],
            q['low52'],
            q['deliveryToTradedQuantity'],
            q['cm_ffm'],
            'NA',
            'NA',
            q['open'],
            q['quantityTraded'],
            q['dayLow']
        ],
    index = my_columns),
    ignore_index=True
)

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volumne,low
0,21STCENMGM,NA,30.55,30.75,0.33,30.15,64.0,11.7,53.95,12.83,NA,NA,30.15,17048.0,29.6

In [19]:
from nsetools import Nse
from simplejson import JSONDecodeError
nse = Nse()
index = 0
final_dataframe = pd.DataFrame(columns = my_columns)
all_stock_codes = nse.get_stock_codes()
for key in all_stock_codes:
    try:
        q = nse.get_quote(key)
        if q:
            final_dataframe = final_dataframe.append(
                pd.Series(
                    [
                        q['symbol'],
                        'NA',
                        q['closePrice'],
                        q['dayHigh'],
                        q['pChange'],
                        q['previousClose'],
                        q['high52'],
                        q['low52'],
                        q['deliveryToTradedQuantity'],
                        q['cm_ffm'],
                        'NA',
                        'NA',
                        q['open'],
                        q['quantityTraded'],
                        q['dayLow']
                    ], index=my_columns
                ),ignore_index=True
            )  
    #except IndexError  as e:
    except JSONDecodeError as e:
    #except (Exception, Error) as e: 
        continue
final_dataframe

IndexError: list index out of range

In [59]:
today = pendulum.now()
dt = today.to_date_string()
dt

'2021-12-20'

In [63]:
print(final_dataframe.iloc[[1090]])

         ticker record_date  close_price  day_high percent_change  \
1090  NEXTMEDIA  2021-12-20          0.0       0.0            0.0

      previous_close high_52 low_52 delivery_percent  free_float  \
1090           10.45    None   None             None       17.48

     chg_frm_52w_low_per chg_frm_52w_high  open volumne  low
1090                  NA               NA   0.0    None  0.0

In [47]:
final_dataframe.drop(final_dataframe[final_dataframe.ticker == 'NaN'].index, inplace=True)

In [64]:
    for i in range(0, len(final_dataframe.index)):
        final_dataframe.loc[i, 'record_date'] = dt 
        if final_dataframe.loc[i, 'close_price'] > 0 and final_dataframe.loc[i, 'low_52'] > 0:   
            final_dataframe.loc[i, 'chg_frm_52w_low_per'] =  (( final_dataframe.loc[i, 'close_price'] - final_dataframe.loc[i, 'low_52'] ) / final_dataframe.loc[i, 'low_52']) * 100
            final_dataframe.loc[i, 'chg_frm_52w_high'] = (( final_dataframe.loc[i, 'close_price'] - final_dataframe.loc[i, 'high_52'] )  / final_dataframe.loc[i, 'high_52']) * 100

In [71]:
final_dataframe['chg_frm_52w_low_per'] = final_dataframe['chg_frm_52w_low_per'].round(decimals = 2)
final_dataframe['chg_frm_52w_high'] = final_dataframe['chg_frm_52w_high'].round(decimals = 2)

TypeError: can't multiply sequence by non-int of type 'float'

In [65]:
final_dataframe.sort_values('chg_frm_52w_low_per', ascending=False, inplace=True)

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'

In [51]:
writer = pd.ExcelWriter('TradeData.xlsx', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Trade Data', index=False)

In [52]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color' : font_color,
        'bg_color' : background_color,
        'border' : 1
    }
)


rupee_format = writer.book.add_format(
    {
        'num_format': '0.00',
        'font_color' : font_color,
        'bg_color' : background_color,
        'border' : 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color' : font_color,
        'bg_color' : background_color,
        'border' : 1
    }
)

In [53]:
writer.sheets['Trade Data'].set_column('A:A', 18 ,string_format)
writer.sheets['Trade Data'].set_column('B:B', 18 ,string_format)
writer.sheets['Trade Data'].set_column('C:C', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('D:D', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('E:E', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('F:F', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('G:G', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('H:H', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('I:I', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('J:J', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('K:K', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('L:L', 18 ,rupee_format)
writer.save()

In [66]:
final_dataframe_new  = final_dataframe.rename(columns={'volumne': 'volume'})

In [67]:
final_dataframe_new

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volume,low
0,20MICRONS,2021-12-20,55.65,58.40,-6.11,58.95,74.9,28.2,47.64,106.04,97.340426,-25.700935,58.40,278417.0,53.60
1,21STCENMGM,2021-12-20,50.95,51.00,-1.92,51.95,64.0,9.85,100.0,20.86,417.258883,-20.390625,51.00,1508.0,50.95
2,3IINFOLTD,2021-12-20,100.10,100.10,-4.98,105.35,119.3,29.55,60.72,1440.26,238.747885,-16.093881,100.10,336206.0,100.10
3,3MINDIA,2021-12-20,23812.95,24515.80,-3.16,24536.10,31000.0,18777.0,68.05,6706.36,26.81978,-23.184032,24401.00,5083.0,23760.00
4,3PLAND,2021-12-20,12.90,14.30,-6.20,13.70,18.8,7.65,65.11,6.27,68.627451,-31.382979,12.55,10123.0,12.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,ZOMATO,2021-12-20,126.55,135.75,-5.87,135.35,169.0,115.0,37.24,8935.27,10.043478,-25.118343,135.30,36064413.0,124.60
1777,ZOTA,2021-12-20,391.20,412.30,-5.89,412.30,448.0,136.65,25.32,285.44,186.278814,-12.678571,412.30,166771.0,385.10
1778,ZUARI,2021-12-20,106.95,110.85,-3.93,111.85,158.9,82.1,65.23,157.43,30.267966,-32.693518,110.00,59119.0,105.85
1779,ZUARIGLOB,2021-12-20,129.10,137.00,-4.97,136.80,177.75,57.0,65.04,163.43,126.491228,-27.369902,137.00,46635.0,126.60
1780,ZYDUSWELL,2021-12-20,1855.90,1887.95,-0.19,1878.65,2476.85,1808.0,56.53,2834.28,2.649336,-25.07015,1853.00,19817.0,1810.00

In [68]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals', echo=True)
con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
print(engine.table_names())

2021-12-20 22:28:19,975 INFO sqlalchemy.engine.Engine select version()
2021-12-20 22:28:19,977 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-20 22:28:19,980 INFO sqlalchemy.engine.Engine select current_schema()
2021-12-20 22:28:19,981 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-20 22:28:19,984 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-12-20 22:28:19,986 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-12-20 22:28:20,066 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-12-20 22:28:20,067 INFO sqlalchemy.engine.Engine [generated in 0.00240s] {'schema': 'public'}
[]

<ipython-input-68-c3a48b2d8ce4>:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [69]:
table_name = 'daily_price_load'
#final_dataframe.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=False)
final_dataframe_new.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=False)
print(engine.table_names())
con.close()

2021-12-20 22:29:42,399 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2021-12-20 22:29:42,403 INFO sqlalchemy.engine.Engine [generated in 0.00216s] {'schema': 'AlgoTrade', 'name': 'daily_price_load'}
2021-12-20 22:29:42,416 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-12-20 22:29:42,442 INFO sqlalchemy.engine.Engine INSERT INTO "AlgoTrade".daily_price_load (ticker, record_date, close_price, day_high, percent_change, previous_close, high_52, low_52, delivery_percent, free_float, chg_frm_52w_low_per, chg_frm_52w_high, open, volume, low) VALUES (%(ticker)s, %(record_date)s, %(close_price)s, %(day_high)s, %(percent_change)s, %(previous_close)s, %(high_52)s, %(low_52)s, %(delivery_percent)s, %(free_float)s, %(chg_frm_52w_low_per)s, %(chg_frm_52w_high)s, %(open)s, %(volume)s, %(low)s)
2021-12-20 22:29:42,451 INFO sqlalchemy.engine.Engine [generated in 0.02160s] ({'ticker': '20MICRONS', 'record_date': '2021-12-20', 'close_price': 55.65, 'day_high': 58.4, 'percent_change': '-6.11', 'previous_close': 58.95, 'high_52': 74.9, 'low_52': 28.2, 'delivery_percent': 47.64, 'free_float': 106.04, 'chg_frm_52w_low_per': 97.3404255319149, 'chg_frm_52w_high': -25.70093457943926, 'open': 58.4, 'volume': 278417.0, 'low': 53.6}, {'ticker': '21STCENMGM', 'record_date': '2021-12-20', 'close_price': 50.95, 'day_high': 51.0, 'percent_change': '-1.92', 'previous_close': 51.95, 'high_52': 64.0, 'low_52': 9.85, 'delivery_percent': 100.0, 'free_float': 20.86, 'chg_frm_52w_low_per': 417.25888324873097, 'chg_frm_52w_high': -20.390624999999996, 'open': 51.0, 'volume': 1508.0, 'low': 50.95}, {'ticker': '3IINFOLTD', 'record_date': '2021-12-20', 'close_price': 100.1, 'day_high': 100.1, 'percent_change': '-4.98', 'previous_close': 105.35, 'high_52': 119.3, 'low_52': 29.55, 'delivery_percent': 60.72, 'free_float': 1440.26, 'chg_frm_52w_low_per': 238.74788494077833, 'chg_frm_52w_high': -16.093880972338646, 'open': 100.1, 'volume': 336206.0, 'low': 100.1}, {'ticker': '3MINDIA', 'record_date': '2021-12-20', 'close_price': 23812.95, 'day_high': 24515.8, 'percent_change': '-3.16', 'previous_close': 24536.1, 'high_52': 31000.0, 'low_52': 18777.0, 'delivery_percent': 68.05, 'free_float': 6706.36, 'chg_frm_52w_low_per': 26.819779517494812, 'chg_frm_52w_high': -23.184032258064512, 'open': 24401.0, 'volume': 5083.0, 'low': 23760.0}, {'ticker': '3PLAND', 'record_date': '2021-12-20', 'close_price': 12.9, 'day_high': 14.3, 'percent_change': '-6.20', 'previous_close': 13.7, 'high_52': 18.8, 'low_52': 7.65, 'delivery_percent': 65.11, 'free_float': 6.27, 'chg_frm_52w_low_per': 68.62745098039215, 'chg_frm_52w_high': -31.382978723404253, 'open': 12.55, 'volume': 10123.0, 'low': 12.5}, {'ticker': '5PAISA', 'record_date': '2021-12-20', 'close_price': 401.2, 'day_high': 416.75, 'percent_change': '-4.00', 'previous_close': 416.75, 'high_52': 580.0, 'low_52': 235.65, 'delivery_percent': 68.33, 'free_float': 283.19, 'chg_frm_52w_low_per': 70.25249310417992, 'chg_frm_52w_high': -30.82758620689655, 'open': 416.75, 'volume': 16897.0, 'low': 400.1}, {'ticker': '63MOONS', 'record_date': '2021-12-20', 'close_price': 177.15, 'day_high': 177.15, 'percent_change': '-4.99', 'previous_close': 186.45, 'high_52': 216.85, 'low_52': 68.9, 'delivery_percent': 73.52, 'free_float': 440.79, 'chg_frm_52w_low_per': 157.11175616835993, 'chg_frm_52w_high': -18.307585888863265, 'open': 177.15, 'volume': 75574.0, 'low': 177.15}, {'ticker': 'A2ZINFRA', 'record_date': '2021-12-20', 'close_price': 7.6, 'day_high': 8.0, 'percent_change': '-4.40', 'previous_close': 7.95, 'high_52': 8.2, 'low_52': 3.6, 'delivery_percent': None, 'free_float': 96.37, 'chg_frm_52w_low_per': 111.1111111111111, 'chg_frm_52w_high': -7.317073170731704, 'open': 8.0, 'volume': None, 'low': 7.6}  ... displaying 10 of 1781 total bound parameter sets ...  {'ticker': 'ZUARIGLOB', 'record_date': '2021-12-20', 'close_price': 129.1, 'day_high': 137.0, 'percent_change': '-4.97', 'previous_close': 136.8, 'high_52': 177.75, 'low_52': 57.0, 'delivery_percent': 65.04, 'free_float': 163.43, 'chg_frm_52w_low_per': 126.49122807017544, 'chg_frm_52w_high': -27.369901547116744, 'open': 137.0, 'volume': 46635.0, 'low': 126.6}, {'ticker': 'ZYDUSWELL', 'record_date': '2021-12-20', 'close_price': 1855.9, 'day_high': 1887.95, 'percent_change': '-0.19', 'previous_close': 1878.65, 'high_52': 2476.85, 'low_52': 1808.0, 'delivery_percent': 56.53, 'free_float': 2834.28, 'chg_frm_52w_low_per': 2.649336283185846, 'chg_frm_52w_high': -25.070149585158564, 'open': 1853.0, 'volume': 19817.0, 'low': 1810.0})
2021-12-20 22:29:42,744 INFO sqlalchemy.engine.Engine ROLLBACK

DataError: (psycopg2.errors.InvalidTextRepresentation) FEHLER:  ungültige Eingabesyntax für Typ double precision: »##,##,###.00«
LINE 1: ....0, 191.35),('MICEL', '2021-12-20', 14.85, 14.85, '##,##,###...
                                                             ^

[SQL: INSERT INTO "AlgoTrade".daily_price_load (ticker, record_date, close_price, day_high, percent_change, previous_close, high_52, low_52, delivery_percent, free_float, chg_frm_52w_low_per, chg_frm_52w_high, open, volume, low) VALUES (%(ticker)s, %(record_date)s, %(close_price)s, %(day_high)s, %(percent_change)s, %(previous_close)s, %(high_52)s, %(low_52)s, %(delivery_percent)s, %(free_float)s, %(chg_frm_52w_low_per)s, %(chg_frm_52w_high)s, %(open)s, %(volume)s, %(low)s)]
[parameters: ({'ticker': '20MICRONS', 'record_date': '2021-12-20', 'close_price': 55.65, 'day_high': 58.4, 'percent_change': '-6.11', 'previous_close': 58.95, 'high_52': 74.9, 'low_52': 28.2, 'delivery_percent': 47.64, 'free_float': 106.04, 'chg_frm_52w_low_per': 97.3404255319149, 'chg_frm_52w_high': -25.70093457943926, 'open': 58.4, 'volume': 278417.0, 'low': 53.6}, {'ticker': '21STCENMGM', 'record_date': '2021-12-20', 'close_price': 50.95, 'day_high': 51.0, 'percent_change': '-1.92', 'previous_close': 51.95, 'high_52': 64.0, 'low_52': 9.85, 'delivery_percent': 100.0, 'free_float': 20.86, 'chg_frm_52w_low_per': 417.25888324873097, 'chg_frm_52w_high': -20.390624999999996, 'open': 51.0, 'volume': 1508.0, 'low': 50.95}, {'ticker': '3IINFOLTD', 'record_date': '2021-12-20', 'close_price': 100.1, 'day_high': 100.1, 'percent_change': '-4.98', 'previous_close': 105.35, 'high_52': 119.3, 'low_52': 29.55, 'delivery_percent': 60.72, 'free_float': 1440.26, 'chg_frm_52w_low_per': 238.74788494077833, 'chg_frm_52w_high': -16.093880972338646, 'open': 100.1, 'volume': 336206.0, 'low': 100.1}, {'ticker': '3MINDIA', 'record_date': '2021-12-20', 'close_price': 23812.95, 'day_high': 24515.8, 'percent_change': '-3.16', 'previous_close': 24536.1, 'high_52': 31000.0, 'low_52': 18777.0, 'delivery_percent': 68.05, 'free_float': 6706.36, 'chg_frm_52w_low_per': 26.819779517494812, 'chg_frm_52w_high': -23.184032258064512, 'open': 24401.0, 'volume': 5083.0, 'low': 23760.0}, {'ticker': '3PLAND', 'record_date': '2021-12-20', 'close_price': 12.9, 'day_high': 14.3, 'percent_change': '-6.20', 'previous_close': 13.7, 'high_52': 18.8, 'low_52': 7.65, 'delivery_percent': 65.11, 'free_float': 6.27, 'chg_frm_52w_low_per': 68.62745098039215, 'chg_frm_52w_high': -31.382978723404253, 'open': 12.55, 'volume': 10123.0, 'low': 12.5}, {'ticker': '5PAISA', 'record_date': '2021-12-20', 'close_price': 401.2, 'day_high': 416.75, 'percent_change': '-4.00', 'previous_close': 416.75, 'high_52': 580.0, 'low_52': 235.65, 'delivery_percent': 68.33, 'free_float': 283.19, 'chg_frm_52w_low_per': 70.25249310417992, 'chg_frm_52w_high': -30.82758620689655, 'open': 416.75, 'volume': 16897.0, 'low': 400.1}, {'ticker': '63MOONS', 'record_date': '2021-12-20', 'close_price': 177.15, 'day_high': 177.15, 'percent_change': '-4.99', 'previous_close': 186.45, 'high_52': 216.85, 'low_52': 68.9, 'delivery_percent': 73.52, 'free_float': 440.79, 'chg_frm_52w_low_per': 157.11175616835993, 'chg_frm_52w_high': -18.307585888863265, 'open': 177.15, 'volume': 75574.0, 'low': 177.15}, {'ticker': 'A2ZINFRA', 'record_date': '2021-12-20', 'close_price': 7.6, 'day_high': 8.0, 'percent_change': '-4.40', 'previous_close': 7.95, 'high_52': 8.2, 'low_52': 3.6, 'delivery_percent': None, 'free_float': 96.37, 'chg_frm_52w_low_per': 111.1111111111111, 'chg_frm_52w_high': -7.317073170731704, 'open': 8.0, 'volume': None, 'low': 7.6}  ... displaying 10 of 1781 total bound parameter sets ...  {'ticker': 'ZUARIGLOB', 'record_date': '2021-12-20', 'close_price': 129.1, 'day_high': 137.0, 'percent_change': '-4.97', 'previous_close': 136.8, 'high_52': 177.75, 'low_52': 57.0, 'delivery_percent': 65.04, 'free_float': 163.43, 'chg_frm_52w_low_per': 126.49122807017544, 'chg_frm_52w_high': -27.369901547116744, 'open': 137.0, 'volume': 46635.0, 'low': 126.6}, {'ticker': 'ZYDUSWELL', 'record_date': '2021-12-20', 'close_price': 1855.9, 'day_high': 1887.95, 'percent_change': '-0.19', 'previous_close': 1878.65, 'high_52': 2476.85, 'low_52': 1808.0, 'delivery_percent': 56.53, 'free_float': 2834.28, 'chg_frm_52w_low_per': 2.649336283185846, 'chg_frm_52w_high': -25.070149585158564, 'open': 1853.0, 'volume': 19817.0, 'low': 1810.0})]
(Background on this error at: http://sqlalche.me/e/14/9h9h)

In [17]:
final_dataframe

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volumne,low
451,EQUIPPP,17.12.2021,116.65,120.00,-5.00,122.10,181.15,1.40,62.99,36.08,8232.142857,-35.605852,117.25,92652.0,116.00
206,BCG,17.12.2021,196.10,202.30,0.36,195.20,202.30,3.84,None,7966.31,5006.770833,-3.064755,198.90,None,188.00
1730,XPROINDIA,17.12.2021,914.20,919.00,2.96,890.65,1003.80,32.30,None,507.59,2730.340557,-8.926081,909.00,None,885.20
1614,TTML,17.12.2021,189.10,189.10,5.0,180.10,189.10,6.90,None,9611.60,2640.57971,0.0,189.10,None,171.10
1290,ROHITFERRO,17.12.2021,26.35,26.35,4.98,25.10,26.35,1.00,None,83.94,2535.0,0.0,26.35,None,25.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,MGL,17.12.2021,871.95,891.50,-1.48,890.15,1284.40,869.30,50.82,4995.50,0.304843,-32.11227,891.50,615615.0,869.30
1037,MUTHOOTCAP,17.12.2021,350.90,357.35,-1.58,355.55,496.00,349.95,74.01,213.54,0.271467,-29.254032,356.25,12421.0,349.95
1693,VLIFEPP,17.12.2021,1.55,1.55,-3.13,1.60,1.75,1.55,100.0,21.94,0.0,-11.428571,1.55,44752.0,1.55
1245,RAJSREESUG,17.12.2021,0.00,38.55,-4.91,37.65,39.95,13.95,None,46.16,-100.0,-100.0,36.55,None,35.80
1185,PKTEA,17.12.2021,0.00,0.00,0.0,299.95,384.90,163.85,None,42.72,-100.0,-100.0,0.00,None,0.00

In [130]:
import psycopg2
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="postgres",
                                  password="Gullu_123",
                                  host="127.0.0.1",
                                  port="5432",
                                  database="AlgoTradingFundamentals")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT version();")
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
   # if (connection):
       # cursor.close()
        #connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'postgres', 'dbname': 'AlgoTradingFundamentals', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 13.2, compiled by Visual C++ build 1914, 64-bit',)

PostgreSQL connection is closed

In [5]:
with open('bhavcopy.csv','w',newline='') as bhavcopy:
    csvwriter = csv.writer(bhavcopy)

In [46]:
from nsepy.history import get_price_list
from nsepy.history import get_history
import pandas as pd
prices = get_price_list(dt=date(2021,1,5))

for index, rows in prices.iterrows():
    if index <= 10:
        symbol_price = get_history(symbol=rows['SYMBOL'],
                    start=date(2021,1,5),
                    end=date(2021,1,5))
        symbol_price

In [27]:
from nsepy.history import get_price_list
from nsepy.history import get_history
from datetime import date
import pandas as pd


my_history_columns = [ 'record_date','symbol','series','prev_close','open','high','low','last_price','close','vwap','volume','turnover','trades','deliverable_volume','delivery_per']
history_df = pd.DataFrame(columns = my_history_columns)
history_df

Empty DataFrame
Columns: [record_date, symbol, series, prev_close, open, high, low, last_price, close, vwap, volume, turnover, trades, deliverable_volume, delivery_per]
Index: []

In [34]:
start_day = today.start_of('week').day
end_day = today.end_of('week').day

start_month = today.start_of('week').month
end_month = today.end_of('week').month

start_year = today.start_of('week').year
end_year = today.start_of('week').year

In [3]:
import sqlalchemy
#engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals', echo=True)
#con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
#print(engine.table_names())
table_name = 'historical_prices'

#historical_price.index = pd.to_datetime(symbol_price.index)
#except IndexError:

#historical_price = get_history('INFY',
#        start=date(2021,1,1),
#        end=date(2021,1,26),index=False)
#historical_price
for key in all_stock_codes:
    engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals')
    con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
##print(engine.table_names())
    try:
        historical_price = get_history(key,
               start=date(2020,12,18),
               end=date(2021,12,17),index=False)
               #start=date(start_year,start_month,start_day),
               #end=date(end_year,end_month,end_day),index=False)
        historical_price.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=True)
        con.close()
    except (IndexError, AttributeError) as e:
        continue

In [ ]:
#historical_price.index = pd.to_datetime(symbol_price.index)
##new_res = pd.DataFrame(data = symbol_price.values, columns = history_df.columns)
#new_merged=history_df.append(new_res, ignore_index = False, sort = False)
#new_merged

historical_price

In [14]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals', echo=True)
con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
print(engine.table_names())

2021-04-15 20:29:39,021 INFO sqlalchemy.engine.Engine select version()
2021-04-15 20:29:39,022 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-15 20:29:39,024 INFO sqlalchemy.engine.Engine select current_schema()
2021-04-15 20:29:39,025 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-15 20:29:39,027 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-04-15 20:29:39,030 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-15 20:29:39,092 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-04-15 20:29:39,094 INFO sqlalchemy.engine.Engine [generated in 0.00171s] {'schema': 'public'}
[]
<ipython-input-14-c3a48b2d8ce4>:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [16]:
table_name = 'historical_prices'
historical_price.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=False)
print(engine.table_names())
con.close()

2021-04-06 21:01:17,510 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2021-04-06 21:01:17,512 INFO sqlalchemy.engine.Engine [generated in 0.00206s] {'schema': 'AlgoTrade', 'name': 'historical_prices'}
2021-04-06 21:01:17,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-06 21:01:17,542 INFO sqlalchemy.engine.Engine INSERT INTO "AlgoTrade".historical_prices ("Symbol", "Series", "Prev Close", "Open", "High", "Low", "Last", "Close", "VWAP", "Volume", "Turnover", "Trades", "Deliverable Volume", "%%Deliverble") VALUES (%(Symbol)s, %(Series)s, %(Prev Close)s, %(Open)s, %(High)s, %(Low)s, %(Last)s, %(Close)s, %(VWAP)s, %(Volume)s, %(Turnover)s, %(Trades)s, %(Deliverable Volume)s, %(PDeliverble)s)
2021-04-06 21:01:17,546 INFO sqlalchemy.engine.Engine [generated in 0.01062s] ({'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1449.05, 'Open': 1449.05, 'High': 1473.95, 'Low': 1427.2, 'Last': 1443.9, 'Close': 1438.05, 'VWAP': 1446.9, 'Volume': 5538, 'Turnover': 801291645000.0, 'Trades': 1095, 'Deliverable Volume': 2951, 'PDeliverble': 0.5329}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1438.05, 'Open': 1465.0, 'High': 1465.0, 'Low': 1418.3, 'Last': 1432.8, 'Close': 1428.5, 'VWAP': 1435.84, 'Volume': 3587, 'Turnover': 515036059999.99994, 'Trades': 824, 'Deliverable Volume': 2061, 'PDeliverble': 0.5746}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1428.5, 'Open': 1409.0, 'High': 1452.0, 'Low': 1405.0, 'Last': 1448.1, 'Close': 1446.7, 'VWAP': 1426.56, 'Volume': 7135, 'Turnover': 1017853755000.0001, 'Trades': 1373, 'Deliverable Volume': 3566, 'PDeliverble': 0.49979999999999997}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1446.7, 'Open': 1454.05, 'High': 1465.0, 'Low': 1421.0, 'Last': 1455.0, 'Close': 1454.9, 'VWAP': 1452.48, 'Volume': 3132, 'Turnover': 454917865000.00006, 'Trades': 453, 'Deliverable Volume': 2153, 'PDeliverble': 0.6874}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1454.9, 'Open': 1450.0, 'High': 1463.0, 'Low': 1428.0, 'Last': 1434.8, 'Close': 1433.1, 'VWAP': 1445.43, 'Volume': 4965, 'Turnover': 717655535000.0, 'Trades': 676, 'Deliverable Volume': 2346, 'PDeliverble': 0.47250000000000003}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1433.1, 'Open': 1433.2, 'High': 1460.0, 'Low': 1433.2, 'Last': 1452.5, 'Close': 1451.05, 'VWAP': 1448.25, 'Volume': 2045, 'Turnover': 296167015000.0, 'Trades': 359, 'Deliverable Volume': 1377, 'PDeliverble': 0.6733}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1451.05, 'Open': 1464.0, 'High': 1481.25, 'Low': 1450.1, 'Last': 1465.15, 'Close': 1466.2, 'VWAP': 1453.39, 'Volume': 60164, 'Turnover': 8744201670000.0, 'Trades': 1251, 'Deliverable Volume': 56625, 'PDeliverble': 0.9412}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1466.2, 'Open': 1482.0, 'High': 1490.0, 'Low': 1465.0, 'Last': 1488.0, 'Close': 1485.45, 'VWAP': 1479.02, 'Volume': 4407, 'Turnover': 651803790000.0, 'Trades': 625, 'Deliverable Volume': 2935, 'PDeliverble': 0.6659999999999999}  ... displaying 10 of 311 total bound parameter sets ...  {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1970.6, 'Open': 1989.2, 'High': 1995.0, 'Low': 1955.55, 'Last': 1960.0, 'Close': 1971.55, 'VWAP': 1976.4, 'Volume': 10746, 'Turnover': 2123835335000.0002, 'Trades': 1938, 'Deliverable Volume': 6220, 'PDeliverble': 0.5788000000000001}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1971.55, 'Open': 1971.0, 'High': 1990.0, 'Low': 1961.1, 'Last': 1985.0, 'Close': 1985.0, 'VWAP': 1976.96, 'Volume': 8760, 'Turnover': 1731817764999.9998, 'Trades': 1611, 'Deliverable Volume': 4360, 'PDeliverble': 0.49770000000000003})
2021-04-06 21:01:17,586 INFO sqlalchemy.engine.Engine COMMIT
2021-04-06 21:01:17,590 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-04-06 21:01:17,591 INFO sqlalchemy.engine.Engine [cached since 54.98s ago] {'schema': 'public'}
[]