In [1]:
import pandas as pd
import numpy as np
from nsepy import get_history
from nsetools import Nse
from datetime import date
import csv
import requests
import xlsxwriter
import math
from scipy import stats
from pprint import pprint
import pendulum


my_columns = [ 'ticker', 'record_date', 'close_price', 'day_high', 'percent_change', 'previous_close','high_52', 'low_52', 'delivery_percent','free_float', 'chg_frm_52w_low_per', 'chg_frm_52w_high', 'open', 'volumne' , 'low']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe
## to avoid caching, use below code if you think that any new symbol is added in the index
# all_stock_codes = nse.get_stock_codes(cached=False)

#to get any stock quote, use below code
#q = nse.get_quote('infy')

#printing on the console
#pprint(q['cm_ffm'])

#data = get_history(symbol="LTI", start=date(2021,1,1),end=date(2021,4,2))
#data['Close'].plot()

Empty DataFrame
Columns: [ticker, record_date, close_price, day_high, percent_change, previous_close, high_52, low_52, delivery_percent, free_float, chg_frm_52w_low_per, chg_frm_52w_high, open, volumne, low]
Index: []

In [2]:
nse = Nse()
all_stock_codes = nse.get_stock_codes()
for key in all_stock_codes:
    #print(key)
    if key == 'INFY':
      q = nse.get_quote(key)  
      pprint(q)

{'adhocMargin': None,
 'applicableMargin': 16.26,
 'averagePrice': 1357.23,
 'basePrice': 1361.6,
 'bcEndDate': None,
 'bcStartDate': None,
 'buyPrice1': 1352.55,
 'buyPrice2': None,
 'buyPrice3': None,
 'buyPrice4': None,
 'buyPrice5': None,
 'buyQuantity1': 514.0,
 'buyQuantity2': None,
 'buyQuantity3': None,
 'buyQuantity4': None,
 'buyQuantity5': None,
 'change': '-8.90',
 'closePrice': 1352.55,
 'cm_adj_high_dt': '12-APR-21',
 'cm_adj_low_dt': '15-MAY-20',
 'cm_ffm': 504622.92,
 'companyName': 'Infosys Limited',
 'css_status_desc': 'Listed',
 'dayHigh': 1373.05,
 'dayLow': 1348.5,
 'deliveryQuantity': 2716830.0,
 'deliveryToTradedQuantity': 54.43,
 'exDate': '31-MAY-21',
 'extremeLossMargin': 3.5,
 'faceValue': 5.0,
 'high52': 1477.55,
 'indexVar': None,
 'isExDateFlag': False,
 'isinCode': 'INE009A01021',
 'lastPrice': 1352.7,
 'low52': 646.7,
 'marketType': 'N',
 'ndEndDate': None,
 'ndStartDate': None,
 'open': 1365.3,
 'pChange': '-0.65',
 'previousClose': 1361.6,
 'priceBand': 'No Band',
 'pricebandlower': 1225.45,
 'pricebandupper': 1497.75,
 'purpose': 'ANNUAL GENERAL MEETING/DIVIDEND - RS 15 PER SHARE',
 'quantityTraded': 4991435.0,
 'recordDate': '01-JUN-21',
 'secDate': '07-May-2021 00:00:00',
 'securityVar': 12.76,
 'sellPrice1': None,
 'sellPrice2': None,
 'sellPrice3': None,
 'sellPrice4': None,
 'sellPrice5': None,
 'sellQuantity1': None,
 'sellQuantity2': None,
 'sellQuantity3': None,
 'sellQuantity4': None,
 'sellQuantity5': None,
 'series': 'EQ',
 'surv_indicator': None,
 'symbol': 'INFY',
 'totalBuyQuantity': 514.0,
 'totalSellQuantity': None,
 'totalTradedValue': 67745.25,
 'totalTradedVolume': 4991435.0,
 'varMargin': 12.76}

In [3]:
final_dataframe.append(
    pd.Series(
        [
            q['symbol'],
            'NA',
            q['closePrice'],
            q['dayHigh'],
            q['pChange'],
            q['previousClose'],
            q['high52'],
            q['low52'],
            q['deliveryToTradedQuantity'],
            q['cm_ffm'],
            'NA',
            'NA',
            q['open'],
            q['quantityTraded'],
            q['dayLow']
        ],
    index = my_columns),
    ignore_index=True
)

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volumne,low
0,INFY,NA,1352.55,1373.05,-0.65,1361.6,1477.55,646.7,54.43,504622.92,NA,NA,1365.3,4991435.0,1348.5

In [4]:
from nsetools import Nse
nse = Nse()
index = 0
final_dataframe = pd.DataFrame(columns = my_columns)
all_stock_codes = nse.get_stock_codes()
for key in all_stock_codes:
    try:
        q = nse.get_quote(key)
        if q:
            final_dataframe = final_dataframe.append(
                pd.Series(
                    [
                        q['symbol'],
                        'NA',
                        q['closePrice'],
                        q['dayHigh'],
                        q['pChange'],
                        q['previousClose'],
                        q['high52'],
                        q['low52'],
                        q['deliveryToTradedQuantity'],
                        q['cm_ffm'],
                        'NA',
                        'NA',
                        q['open'],
                        q['quantityTraded'],
                        q['dayLow']
                    ], index=my_columns
                ),ignore_index=True
            )  
    except IndexError as e:
    #except (Exception, Error) as e:
        continue
final_dataframe

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volumne,low
0,20MICRONS,NA,39.70,40.15,-0.25,39.70,43.8,24.60,53.16,77.05,NA,NA,39.25,110032.0,39.00
1,21STCENMGM,NA,12.65,12.65,1.61,12.45,15.3,9.45,100.0,5.62,NA,NA,12.65,3823.0,12.65
2,3IINFOTECH,NA,7.75,8.00,0.0,7.75,9.3,1.35,69.64,1039.91,NA,NA,7.85,13579285.0,7.75
3,3MINDIA,NA,24730.95,24995.00,-0.01,24741.80,31000.0,16745.00,50.23,6967.95,NA,NA,24995.00,1296.0,24650.00
4,3PLAND,NA,14.60,14.60,19.67,12.20,14.6,4.30,43.87,5.93,NA,NA,13.20,234593.0,13.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,ZODJRDMKJ,NA,26.10,27.45,-0.19,26.50,39.5,20.85,86.4,7.41,NA,NA,26.40,5727.0,25.40
1657,ZOTA,NA,153.35,155.90,1.12,151.90,188.0,131.10,45.99,111.92,NA,NA,155.90,5895.0,151.00
1658,ZUARI,NA,89.60,92.70,-1.92,91.35,123.3,75.50,73.39,134.47,NA,NA,91.90,79023.0,89.45
1659,ZUARIGLOB,NA,79.60,84.20,-0.44,80.35,123.9,35.40,74.55,106.45,NA,NA,84.20,153370.0,78.70
1660,ZYDUSWELL,NA,2118.20,2137.90,2.76,2076.95,2299.0,1182.00,81.69,3171.86,NA,NA,2097.00,93339.0,2070.30

In [21]:
today = pendulum.now()
dt = today.to_date_string()
dt

'2021-05-09'

In [5]:
for i in range(0, len(final_dataframe.index)):
    final_dataframe.loc[i, 'record_date'] = dt #'07.05.2021'
    final_dataframe.loc[i, 'chg_frm_52w_low_per'] = (( final_dataframe.loc[i, 'close_price'] - final_dataframe.loc[i, 'low_52'] ) / final_dataframe.loc[i, 'low_52']) * 100
    final_dataframe.loc[i, 'chg_frm_52w_high'] = (( final_dataframe.loc[i, 'close_price'] - final_dataframe.loc[i, 'high_52'] )  / final_dataframe.loc[i, 'high_52']) * 100
final_dataframe

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volumne,low
0,20MICRONS,07.05.2021,39.70,40.15,-0.25,39.70,43.8,24.60,53.16,77.05,61.382114,-9.360731,39.25,110032.0,39.00
1,21STCENMGM,07.05.2021,12.65,12.65,1.61,12.45,15.3,9.45,100.0,5.62,33.862434,-17.320261,12.65,3823.0,12.65
2,3IINFOTECH,07.05.2021,7.75,8.00,0.0,7.75,9.3,1.35,69.64,1039.91,474.074074,-16.666667,7.85,13579285.0,7.75
3,3MINDIA,07.05.2021,24730.95,24995.00,-0.01,24741.80,31000.0,16745.00,50.23,6967.95,47.69155,-20.222742,24995.00,1296.0,24650.00
4,3PLAND,07.05.2021,14.60,14.60,19.67,12.20,14.6,4.30,43.87,5.93,239.534884,0.0,13.20,234593.0,13.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,ZODJRDMKJ,07.05.2021,26.10,27.45,-0.19,26.50,39.5,20.85,86.4,7.41,25.179856,-33.924051,26.40,5727.0,25.40
1657,ZOTA,07.05.2021,153.35,155.90,1.12,151.90,188.0,131.10,45.99,111.92,16.971777,-18.430851,155.90,5895.0,151.00
1658,ZUARI,07.05.2021,89.60,92.70,-1.92,91.35,123.3,75.50,73.39,134.47,18.675497,-27.331711,91.90,79023.0,89.45
1659,ZUARIGLOB,07.05.2021,79.60,84.20,-0.44,80.35,123.9,35.40,74.55,106.45,124.858757,-35.754641,84.20,153370.0,78.70
1660,ZYDUSWELL,07.05.2021,2118.20,2137.90,2.76,2076.95,2299.0,1182.00,81.69,3171.86,79.204738,-7.864289,2097.00,93339.0,2070.30

In [6]:
final_dataframe.sort_values('chg_frm_52w_low_per', ascending=False, inplace=True)

In [10]:
writer = pd.ExcelWriter('TradeData.xlsx', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Trade Data', index=False)

In [10]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color' : font_color,
        'bg_color' : background_color,
        'border' : 1
    }
)


rupee_format = writer.book.add_format(
    {
        'num_format': '0.00',
        'font_color' : font_color,
        'bg_color' : background_color,
        'border' : 1
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color' : font_color,
        'bg_color' : background_color,
        'border' : 1
    }
)

In [11]:
writer.sheets['Trade Data'].set_column('A:A', 18 ,string_format)
writer.sheets['Trade Data'].set_column('B:B', 18 ,string_format)
writer.sheets['Trade Data'].set_column('C:C', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('D:D', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('E:E', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('F:F', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('G:G', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('H:H', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('I:I', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('J:J', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('K:K', 18 ,rupee_format)
writer.sheets['Trade Data'].set_column('L:L', 18 ,rupee_format)
writer.save()

In [7]:
final_dataframe_new  = final_dataframe.rename(columns={'volumne': 'volume'})

In [9]:
final_dataframe_new

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volume,low
1069,ORCHPHARMA,07.05.2021,1578.80,1622.00,-0.53,1593.20,2654.25,17.15,73.33,65.03,9105.830904,-40.518037,1614.00,4579.0,1551.00
1229,ROML,07.05.2021,99.05,106.90,-4.01,102.15,170.35,3.45,81.1,36.75,2771.014493,-41.855004,102.00,4969.0,98.05
591,HEXATRADEX,07.05.2021,111.00,111.00,4.96,105.75,111.00,6.15,None,245.37,1704.878049,0.0,110.00,None,103.50
287,CGPOWER,07.05.2021,88.45,88.55,4.86,84.35,88.55,5.40,55.07,5304.43,1537.962963,-0.112931,87.00,8425051.0,85.50
1447,TANLA,07.05.2021,871.55,897.80,-1.73,885.35,1030.00,62.00,67.18,6744.63,1305.725806,-15.383495,885.35,107827.0,868.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,LCCINFOTEC,07.05.2021,1.70,1.70,-2.86,1.75,5.70,1.70,100.0,11.96,0.0,-70.175439,1.70,66639.0,1.70
658,IMPEXFERRO,07.05.2021,0.00,0.00,0.0,0.90,1.15,0.35,None,2.45,-100.0,-100.0,0.00,None,0.00
502,GISOLUTION,07.05.2021,0.00,0.00,0.0,2.30,3.35,1.60,None,1.21,-100.0,-100.0,0.00,None,0.00
721,JAINSTUDIO,07.05.2021,0.00,0.00,0.0,1.65,5.80,0.80,None,0.60,-100.0,-100.0,0.00,None,0.00
1641,WSI,07.05.2021,0.00,0.00,0.0,4.30,7.85,0.80,None,7.00,-100.0,-100.0,0.00,None,0.00

In [10]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals', echo=True)
con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
print(engine.table_names())

2021-05-08 22:53:02,932 INFO sqlalchemy.engine.Engine select version()
2021-05-08 22:53:02,934 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-05-08 22:53:02,939 INFO sqlalchemy.engine.Engine select current_schema()
2021-05-08 22:53:02,941 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-05-08 22:53:02,944 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-05-08 22:53:02,945 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-05-08 22:53:03,022 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-05-08 22:53:03,023 INFO sqlalchemy.engine.Engine [generated in 0.00143s] {'schema': 'public'}
[]
<ipython-input-10-c3a48b2d8ce4>:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [11]:
table_name = 'daily_price_load'
#final_dataframe.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=False)
final_dataframe_new.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=False)
print(engine.table_names())
con.close()

2021-05-08 22:53:08,117 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2021-05-08 22:53:08,118 INFO sqlalchemy.engine.Engine [generated in 0.00185s] {'schema': 'AlgoTrade', 'name': 'daily_price_load'}
2021-05-08 22:53:08,132 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-05-08 22:53:08,183 INFO sqlalchemy.engine.Engine INSERT INTO "AlgoTrade".daily_price_load (ticker, record_date, close_price, day_high, percent_change, previous_close, high_52, low_52, delivery_percent, free_float, chg_frm_52w_low_per, chg_frm_52w_high, open, volume, low) VALUES (%(ticker)s, %(record_date)s, %(close_price)s, %(day_high)s, %(percent_change)s, %(previous_close)s, %(high_52)s, %(low_52)s, %(delivery_percent)s, %(free_float)s, %(chg_frm_52w_low_per)s, %(chg_frm_52w_high)s, %(open)s, %(volume)s, %(low)s)
2021-05-08 22:53:08,184 INFO sqlalchemy.engine.Engine [generated in 0.03760s] ({'ticker': 'ORCHPHARMA', 'record_date': '07.05.2021', 'close_price': 1578.8, 'day_high': 1622.0, 'percent_change': '-0.53', 'previous_close': 1593.2, 'high_52': 2654.25, 'low_52': 17.15, 'delivery_percent': 73.33, 'free_float': 65.03, 'chg_frm_52w_low_per': 9105.830903790087, 'chg_frm_52w_high': -40.51803711029481, 'open': 1614.0, 'volume': 4579.0, 'low': 1551.0}, {'ticker': 'ROML', 'record_date': '07.05.2021', 'close_price': 99.05, 'day_high': 106.9, 'percent_change': '-4.01', 'previous_close': 102.15, 'high_52': 170.35, 'low_52': 3.45, 'delivery_percent': 81.1, 'free_float': 36.75, 'chg_frm_52w_low_per': 2771.0144927536226, 'chg_frm_52w_high': -41.855004402700324, 'open': 102.0, 'volume': 4969.0, 'low': 98.05}, {'ticker': 'HEXATRADEX', 'record_date': '07.05.2021', 'close_price': 111.0, 'day_high': 111.0, 'percent_change': 4.96, 'previous_close': 105.75, 'high_52': 111.0, 'low_52': 6.15, 'delivery_percent': None, 'free_float': 245.37, 'chg_frm_52w_low_per': 1704.8780487804877, 'chg_frm_52w_high': 0.0, 'open': 110.0, 'volume': None, 'low': 103.5}, {'ticker': 'CGPOWER', 'record_date': '07.05.2021', 'close_price': 88.45, 'day_high': 88.55, 'percent_change': 4.86, 'previous_close': 84.35, 'high_52': 88.55, 'low_52': 5.4, 'delivery_percent': 55.07, 'free_float': 5304.43, 'chg_frm_52w_low_per': 1537.9629629629628, 'chg_frm_52w_high': -0.11293054771314998, 'open': 87.0, 'volume': 8425051.0, 'low': 85.5}, {'ticker': 'TANLA', 'record_date': '07.05.2021', 'close_price': 871.55, 'day_high': 897.8, 'percent_change': '-1.73', 'previous_close': 885.35, 'high_52': 1030.0, 'low_52': 62.0, 'delivery_percent': 67.18, 'free_float': 6744.63, 'chg_frm_52w_low_per': 1305.725806451613, 'chg_frm_52w_high': -15.383495145631073, 'open': 885.35, 'volume': 107827.0, 'low': 868.0}, {'ticker': 'ATGL', 'record_date': '07.05.2021', 'close_price': 1310.3, 'day_high': 1337.9, 'percent_change': 0.15, 'previous_close': 1299.05, 'high_52': 1337.9, 'low_52': 96.6, 'delivery_percent': 46.02, 'free_float': 35717.71, 'chg_frm_52w_low_per': 1256.4182194616978, 'chg_frm_52w_high': -2.0629344495104367, 'open': 1314.0, 'volume': 1032592.0, 'low': 1300.0}, {'ticker': 'INTELLECT', 'record_date': '07.05.2021', 'close_price': 795.85, 'day_high': 825.0, 'percent_change': '-0.27', 'previous_close': 794.15, 'high_52': 825.0, 'low_52': 61.55, 'delivery_percent': 34.15, 'free_float': 6648.31, 'chg_frm_52w_low_per': 1193.0138099106418, 'chg_frm_52w_high': -3.5333333333333306, 'open': 800.0, 'volume': 945458.0, 'low': 765.1}, {'ticker': 'PALREDTEC', 'record_date': '07.05.2021', 'close_price': 136.6, 'day_high': 139.4, 'percent_change': 0.67, 'previous_close': 134.5, 'high_52': 149.95, 'low_52': 10.85, 'delivery_percent': 67.28, 'free_float': 81.16, 'chg_frm_52w_low_per': 1158.9861751152075, 'chg_frm_52w_high': -8.902967655885293, 'open': 133.55, 'volume': 25535.0, 'low': 128.6}  ... displaying 10 of 1661 total bound parameter sets ...  {'ticker': 'JAINSTUDIO', 'record_date': '07.05.2021', 'close_price': 0.0, 'day_high': 0.0, 'percent_change': 0.0, 'previous_close': 1.65, 'high_52': 5.8, 'low_52': 0.8, 'delivery_percent': None, 'free_float': 0.6, 'chg_frm_52w_low_per': -100.0, 'chg_frm_52w_high': -100.0, 'open': 0.0, 'volume': None, 'low': 0.0}, {'ticker': 'WSI', 'record_date': '07.05.2021', 'close_price': 0.0, 'day_high': 0.0, 'percent_change': 0.0, 'previous_close': 4.3, 'high_52': 7.85, 'low_52': 0.8, 'delivery_percent': None, 'free_float': 7.0, 'chg_frm_52w_low_per': -100.0, 'chg_frm_52w_high': -100.0, 'open': 0.0, 'volume': None, 'low': 0.0})
2021-05-08 22:53:08,503 INFO sqlalchemy.engine.Engine COMMIT
2021-05-08 22:53:08,515 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-05-08 22:53:08,516 INFO sqlalchemy.engine.Engine [cached since 5.494s ago] {'schema': 'public'}
[]
<ipython-input-11-de502302d221>:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [24]:
final_dataframe

,ticker,record_date,close_price,day_high,percent_change,previous_close,high_52,low_52,delivery_percent,free_float,chg_frm_52w_low_per,chg_frm_52w_high,open,volumne,low
1068,ORCHPHARMA,27.04.2021,1747.85,1747.85,5.0,1664.65,2654.25,17.15,None,71.34,10091.54519,-34.149006,1747.85,None,1581.45
1228,ROML,27.04.2021,96.45,97.10,4.97,92.50,170.35,3.45,80.33,34.70,2695.652174,-43.381274,90.00,15899.0,89.00
590,HEXATRADEX,27.04.2021,96.40,96.40,4.95,91.85,101.95,6.15,None,223.67,1467.479675,-5.443845,88.00,None,88.00
1448,TANLA,27.04.2021,897.05,903.55,1.9,878.35,1030.00,62.00,68.8,6833.76,1346.854839,-12.907767,878.35,104746.0,878.35
286,CGPOWER,27.04.2021,68.85,69.75,1.92,67.70,80.65,5.40,68.85,4329.69,1175.0,-14.631122,67.95,1839399.0,67.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843,LCCINFOTEC,27.04.2021,2.30,2.30,-4.17,2.40,5.70,2.30,100.0,15.72,0.0,-59.649123,2.30,44077.0,2.30
55,AKG,27.04.2021,29.45,29.45,-5.00,31.00,112.70,29.45,100.0,9.98,0.0,-73.868678,29.45,8826.0,29.45
657,IMPEXFERRO,27.04.2021,0.00,0.00,0.0,0.95,1.15,0.35,None,2.59,-100.0,-100.0,0.00,None,0.00
1301,SEZAL,27.04.2021,0.00,0.00,0.0,5.00,7.35,1.55,None,8.22,-100.0,-100.0,0.00,None,0.00
836,LAKPRE,27.04.2021,0.00,0.00,0.0,3.75,7.55,1.20,None,1.23,-100.0,-100.0,0.00,None,0.00

In [130]:
import psycopg2
from psycopg2 import Error

try:
    # Connect to an existing database
    connection = psycopg2.connect(user="postgres",
                                  password="Gullu_123",
                                  host="127.0.0.1",
                                  port="5432",
                                  database="AlgoTradingFundamentals")

    # Create a cursor to perform database operations
    cursor = connection.cursor()
    # Print PostgreSQL details
    print("PostgreSQL server information")
    print(connection.get_dsn_parameters(), "\n")
    # Executing a SQL query
    cursor.execute("SELECT version();")
    # Fetch result
    record = cursor.fetchone()
    print("You are connected to - ", record, "\n")

except (Exception, Error) as error:
    print("Error while connecting to PostgreSQL", error)
finally:
   # if (connection):
       # cursor.close()
        #connection.close()
        print("PostgreSQL connection is closed")

PostgreSQL server information
{'user': 'postgres', 'dbname': 'AlgoTradingFundamentals', 'host': '127.0.0.1', 'port': '5432', 'tty': '', 'options': '', 'sslmode': 'prefer', 'sslcompression': '0', 'krbsrvname': 'postgres', 'target_session_attrs': 'any'}

You are connected to -  ('PostgreSQL 13.2, compiled by Visual C++ build 1914, 64-bit',)

PostgreSQL connection is closed

In [5]:
with open('bhavcopy.csv','w',newline='') as bhavcopy:
    csvwriter = csv.writer(bhavcopy)

In [46]:
from nsepy.history import get_price_list
from nsepy.history import get_history
import pandas as pd
prices = get_price_list(dt=date(2021,1,5))

for index, rows in prices.iterrows():
    if index <= 10:
        symbol_price = get_history(symbol=rows['SYMBOL'],
                    start=date(2021,1,5),
                    end=date(2021,1,5))
        symbol_price

In [27]:
from nsepy.history import get_price_list
from nsepy.history import get_history
from datetime import date
import pandas as pd


my_history_columns = [ 'record_date','symbol','series','prev_close','open','high','low','last_price','close','vwap','volume','turnover','trades','deliverable_volume','delivery_per']
history_df = pd.DataFrame(columns = my_history_columns)
history_df

Empty DataFrame
Columns: [record_date, symbol, series, prev_close, open, high, low, last_price, close, vwap, volume, turnover, trades, deliverable_volume, delivery_per]
Index: []

In [ ]:
start_day = today.start_of('week').day
end_day = today.end_of('week').day

start_month = today.start_of('week').month
end_month = today.end_of('week').month

start_year = today.start_of('week').year
end_year = today.start_of('week').year

In [12]:
import sqlalchemy
#engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals', echo=True)
#con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
#print(engine.table_names())
table_name = 'historical_prices'

#historical_price.index = pd.to_datetime(symbol_price.index)
#except IndexError:

#historical_price = get_history('INFY',
#        start=date(2021,1,1),
#        end=date(2021,1,26),index=False)
#historical_price
for key in all_stock_codes:
    engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals')
    con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
##print(engine.table_names())
    try:
        historical_price = get_history(key,
               # start=date(2021,5,3),
               # end=date(2021,5,7),index=False)
               start=date(start_year,start_month,start_day),
               end=date(end_year,end_month,end_day),index=False)
        historical_price.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=True)
        con.close()
    except (IndexError, AttributeError) as e:
        continue

In [16]:
#historical_price.index = pd.to_datetime(symbol_price.index)
##new_res = pd.DataFrame(data = symbol_price.values, columns = history_df.columns)
#new_merged=history_df.append(new_res, ignore_index = False, sort = False)
#new_merged

historical_price

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2021-04-28,ZYDUSWELL,EQ,2102.8,2119.6,2155.70,2074.8,2122.0,2123.9,2118.52,94221,1.996091e+13,9480,40151,0.4261
2021-04-29,ZYDUSWELL,EQ,2123.9,2135.0,2139.15,2090.0,2095.0,2096.2,2105.55,38076,8.017096e+12,5200,13604,0.3573
2021-04-30,ZYDUSWELL,EQ,2096.2,2095.0,2117.00,2083.6,2098.0,2097.9,2098.54,26694,5.601852e+12,3377,7995,0.2995

In [14]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:Gullu_123@127.0.0.1/AlgoTradingFundamentals', echo=True)
con = engine.connect().execution_options(schema_translate_map={None: 'AlgoTrade'}) 
print(engine.table_names())

2021-04-15 20:29:39,021 INFO sqlalchemy.engine.Engine select version()
2021-04-15 20:29:39,022 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-15 20:29:39,024 INFO sqlalchemy.engine.Engine select current_schema()
2021-04-15 20:29:39,025 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-15 20:29:39,027 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2021-04-15 20:29:39,030 INFO sqlalchemy.engine.Engine [raw sql] {}
2021-04-15 20:29:39,092 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-04-15 20:29:39,094 INFO sqlalchemy.engine.Engine [generated in 0.00171s] {'schema': 'public'}
[]
<ipython-input-14-c3a48b2d8ce4>:4: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [16]:
table_name = 'historical_prices'
historical_price.to_sql(table_name, con, schema="AlgoTrade", if_exists="append", index=False)
print(engine.table_names())
con.close()

2021-04-06 21:01:17,510 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2021-04-06 21:01:17,512 INFO sqlalchemy.engine.Engine [generated in 0.00206s] {'schema': 'AlgoTrade', 'name': 'historical_prices'}
2021-04-06 21:01:17,526 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-06 21:01:17,542 INFO sqlalchemy.engine.Engine INSERT INTO "AlgoTrade".historical_prices ("Symbol", "Series", "Prev Close", "Open", "High", "Low", "Last", "Close", "VWAP", "Volume", "Turnover", "Trades", "Deliverable Volume", "%%Deliverble") VALUES (%(Symbol)s, %(Series)s, %(Prev Close)s, %(Open)s, %(High)s, %(Low)s, %(Last)s, %(Close)s, %(VWAP)s, %(Volume)s, %(Turnover)s, %(Trades)s, %(Deliverable Volume)s, %(PDeliverble)s)
2021-04-06 21:01:17,546 INFO sqlalchemy.engine.Engine [generated in 0.01062s] ({'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1449.05, 'Open': 1449.05, 'High': 1473.95, 'Low': 1427.2, 'Last': 1443.9, 'Close': 1438.05, 'VWAP': 1446.9, 'Volume': 5538, 'Turnover': 801291645000.0, 'Trades': 1095, 'Deliverable Volume': 2951, 'PDeliverble': 0.5329}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1438.05, 'Open': 1465.0, 'High': 1465.0, 'Low': 1418.3, 'Last': 1432.8, 'Close': 1428.5, 'VWAP': 1435.84, 'Volume': 3587, 'Turnover': 515036059999.99994, 'Trades': 824, 'Deliverable Volume': 2061, 'PDeliverble': 0.5746}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1428.5, 'Open': 1409.0, 'High': 1452.0, 'Low': 1405.0, 'Last': 1448.1, 'Close': 1446.7, 'VWAP': 1426.56, 'Volume': 7135, 'Turnover': 1017853755000.0001, 'Trades': 1373, 'Deliverable Volume': 3566, 'PDeliverble': 0.49979999999999997}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1446.7, 'Open': 1454.05, 'High': 1465.0, 'Low': 1421.0, 'Last': 1455.0, 'Close': 1454.9, 'VWAP': 1452.48, 'Volume': 3132, 'Turnover': 454917865000.00006, 'Trades': 453, 'Deliverable Volume': 2153, 'PDeliverble': 0.6874}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1454.9, 'Open': 1450.0, 'High': 1463.0, 'Low': 1428.0, 'Last': 1434.8, 'Close': 1433.1, 'VWAP': 1445.43, 'Volume': 4965, 'Turnover': 717655535000.0, 'Trades': 676, 'Deliverable Volume': 2346, 'PDeliverble': 0.47250000000000003}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1433.1, 'Open': 1433.2, 'High': 1460.0, 'Low': 1433.2, 'Last': 1452.5, 'Close': 1451.05, 'VWAP': 1448.25, 'Volume': 2045, 'Turnover': 296167015000.0, 'Trades': 359, 'Deliverable Volume': 1377, 'PDeliverble': 0.6733}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1451.05, 'Open': 1464.0, 'High': 1481.25, 'Low': 1450.1, 'Last': 1465.15, 'Close': 1466.2, 'VWAP': 1453.39, 'Volume': 60164, 'Turnover': 8744201670000.0, 'Trades': 1251, 'Deliverable Volume': 56625, 'PDeliverble': 0.9412}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1466.2, 'Open': 1482.0, 'High': 1490.0, 'Low': 1465.0, 'Last': 1488.0, 'Close': 1485.45, 'VWAP': 1479.02, 'Volume': 4407, 'Turnover': 651803790000.0, 'Trades': 625, 'Deliverable Volume': 2935, 'PDeliverble': 0.6659999999999999}  ... displaying 10 of 311 total bound parameter sets ...  {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1970.6, 'Open': 1989.2, 'High': 1995.0, 'Low': 1955.55, 'Last': 1960.0, 'Close': 1971.55, 'VWAP': 1976.4, 'Volume': 10746, 'Turnover': 2123835335000.0002, 'Trades': 1938, 'Deliverable Volume': 6220, 'PDeliverble': 0.5788000000000001}, {'Symbol': 'ZYDUSWELL', 'Series': 'EQ', 'Prev Close': 1971.55, 'Open': 1971.0, 'High': 1990.0, 'Low': 1961.1, 'Last': 1985.0, 'Close': 1985.0, 'VWAP': 1976.96, 'Volume': 8760, 'Turnover': 1731817764999.9998, 'Trades': 1611, 'Deliverable Volume': 4360, 'PDeliverble': 0.49770000000000003})
2021-04-06 21:01:17,586 INFO sqlalchemy.engine.Engine COMMIT
2021-04-06 21:01:17,590 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-04-06 21:01:17,591 INFO sqlalchemy.engine.Engine [cached since 54.98s ago] {'schema': 'public'}
[]